@charset "UTF-8";

/* color
    黄 #f6d759 赤 #d14a2a 青 #57bfc2 */

body {
    background-color: #d14a2a;
    color: #f6d759;
    text-align: center;
}

header {
    position: relative;
    margin: 2em;
    font-weight: bold;
}

.titletxt {
    font-size: 2em;
    font-weight: bold;
}

.logol {
    position: absolute;
    top: 50px;
    left: 20em;
    opacity: 0.9;
}

.logor {
    position: absolute;
    right: -40px;
    top: 100px;
    opacity: 0.8;
}

.zone {
    display: flex;
    justify-content: center;
}

.lzone {
    position: relative;
    margin: 1em;
    padding: 1em;
    width: 600px;
    height: 750px;
    background-color:#f6d759;
    color: #d14a2a;
    font-weight: bold;
}

.rzone {
    position: relative;
    margin: 1em;
    padding: 1em;
    width: 500px;
    height: 750px;
    background-color: #f6d759;
    color: #d14a2a;
    font-weight: bold;
}

.face {
    margin-top: 20px;
}

.btn,a.btn {
    font-size: 0.1px;
    font-weight: 1;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: 1px 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
}

a.btn {
    font-size: 20px;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 100% 80px / 80px 100%;
    background-color: #d14a2a;
}

a.btn:hover {
    color: #fff;
    border-radius: 60% 80% / 100% 80%;
}

.cover {
    width: 600px;
    height: 510px;
    background-color: black;
    position: absolute;
    top: 180px;
}

.drag-and-drop {
    cursor: move;
    position: absolute;
    z-index: 1000;
}

.drag {
    z-index: 1001;
}

.eyezone {
    position: absolute;
    margin-left: 50px;
}

.nosezone {
    position: absolute;
    margin-left: 150px;
}

.mouthzone {
    position: absolute;
    margin-left: 250px;
}

.mayuzone {
    position: absolute;
    margin-left: 350px;
}

footer {
    position: relative;
    width: 1px;
}

.logof {
    position: absolute;
    top: -440px;
    left: -100px;
    z-index: -1;
    opacity: 0.9;
}

.logofr {
    position: absolute;
    top: -50px;
    left: 1200px;
    z-index: -1;
    opacity: 0.9;
}