body {
    position: relative;
    background-image: url(image/HOME.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #57bfc2;
    overflow: hidden;
}

.op {
    position: absolute;
    margin: -1em;
    background-color: white;
    z-index: 1000;
}

.osaisenarea {
    position: absolute;
    margin: 6em 40em;
    padding: 180px 100px;
    background-color: #f6d759;
    color: #f6d759;
    opacity: 0;
}

.omikujiarea {
    position: absolute;
    margin: 11em 59em;
    padding: 100px 25px;
    background-color:#f6d759;
    color: #f6d759;
    opacity: 0;
}

.emaarea {
    position: absolute;
    margin: 19em 22.5em;
    padding: 100px 115px;
    background-color: #f6d759;
    color: #f6d759;
    opacity: 0;
}

.gamearea {
    position: absolute;
    margin: 8em 73em;
    padding: 240px 160px;
    background-color: #f6d759;
    color: #f6d759;
    opacity: 0;
}

.shoparea {
    position: absolute;
    margin: 7em -1em;
    padding: 250px 160px;
    background-color: #f6d759;
    color: #f6d759;
    opacity: 0;
    cursor: pointer;
}

.miko {
    position: absolute;
    right: 21em;
    top: 20em;
    width: 150px;
    z-index: 100;
}

.ex1 {
    position: relative;
    display: inline-block;
    margin: 400px 820px;
    padding: 7px 12px;
    min-width: 180px;
    max-width: 100%;
    color: #555;
    font-size: 20px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
}

.ex1:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid rgba(255, 255, 255, 0.9);
    z-index: 2;
}

.ex1:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -14px;
    border: 14px solid transparent;
    z-index: 1;
}
