body{
  background-color: #f6d759;
  color: #333;
}
* {
  margin: 0px;
  padding: 0px;
}
.header-1 {
  position: fixed;
  background-color: #d14a2a;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 2em;
}
.logo-img {
  padding-top: 30px;
  width: 70px;
}
p{
	color: #000000;
	font-family: 'Yu Gothic';
  font-size: 20px;
}
.ema_choice {
  margin: auto;
  padding-top: 150px;
  text-align: center;
  border: 0px;
}
.ema_kakunin {
  text-align: center;
}
#btn_ema_ok {
  margin: 1%;
}
#btn_ema_back {
  margin: 1%;
}

.ema_box {
  position: absolute;
  text-align: center;
  left: 40%;
  bottom: 280px;
  width:200px;
  height:200px;
  opacity: 0.55; /* 55％不透明度(＝45％透過) */
  color: #333;
  font-size: large;
}

h2 {
  text-align: center;
  position: relative;
  margin-top: 100px;
  padding: 1rem 2rem calc(1rem + 8px);
  background: #fff;
}

h2:before {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}


*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}


.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #212529;
  border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color2 {
  border-radius: 100vh;
}

a.btn-border-shadow--color2:before {
  border-radius: 100vh;
  -webkit-box-shadow: 3px 3px 0 #d14a2a;
  box-shadow: 3px 3px 0 #d14a2a;
}