body {
  background: url(img/osaisen.png) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  height:100%;
  border: 30%;
}
.box {
  text-align: center;
}
.box img {
  width: 50%;
}

.miko {
  position: absolute;
  margin-left: 6%;
  margin-top: 1%;
  margin-bottom: 0%;
}

#btn_suzu {
  display: none;
  text-align: center;
}
#btn_goen {
  margin-left: 10%;
  position: absolute;
  text-align: center;
}
#ex1 {
  position: absolute;
  text-align: center;
}

#ex1 {
  position: relative;
  display: inline-block;
  margin-left: 4%;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

#ex1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid rgba(255, 255, 255, 0.7);
}

#ex1 p {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-malformation {
  font-size: 2rem;

  padding: 3rem 4rem;

  color: #fff;
  border-radius: 100% 80px / 80px 100%;
  background-color: 	rgba(255,215,0, 0.9);
}

a.btn-malformation:hover {
  color: #fff;
  border-radius: 60% 80% / 100% 80%;
}
.okane {
  margin-top: 5%;
  margin-left: 30%;
}

