* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url('omikuji_Image/omikuji_haikei.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-1 {
  position: fixed;
  background-color: #d14a2a;
  box-sizing: border-box;
  width: 100%;
  height: 10%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0 2em;
}
.logo-img {
  padding-top: 30px;
  width: 70px;
}

.container {
  width: 100%;
  text-align: center;
  height: 100%;
}

.container h1 {
  color: #f00;
}

.container span {
  color: #000;
}


.ex1 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 180px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.9);
  ;
}

.ex1 :before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid rgba(255, 255, 255, 0.9);  
}

.ex1 p {
  margin: 0;
  padding: 0;
}

section {
  padding: 7% 0;
}

#main {
  width: 100%;
  height: 100%;
  padding: 5px;
}

#omikujiBox {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.buruburu {
  -webkit-animation:buruburu 0.1s infinite linear alternate;
  animation:buruburu 0.1s infinite linear alternate;
}

@-webkit-keyframes buruburu {
  0% {-webkit-transform:translate(0, 0) rotate(-3deg);}
  50% {-webkit-transform:translate(0, -1px) rotate(0deg);}
  100% {-webkit-transform:translate(0, 0)rotate(3deg);}
}

@keyframes buruburu {
  0% {transform:translate(0, 0) rotate(-3deg);}
  50% {transform:translate(0, -1px) rotate(0deg);}
  100% {transform:translate(0, 0)rotate(3deg);}
}

#result {
  text-align: center;
  position: relative;
}

#result img {
  width: 30%;
  height: 50%;
}

#view {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 80%;
  color: #fff;
  font-size: 250%;
}

#message {
  position: absolute;
  text-align: center;
  top: 50%;
  right: 10%;
  width: 80%;
  color: #000;
  font-size: 120%;
}


